* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    border: 1px solid;
    width: 200px;
    height: 50px;
}